@reference "tailwindcss";
@reference "@css/themes/color-themes.css";

.item-card {
  @apply relative
  bg-white
  border
  border-gray-200
  p-5
  shadow-sm
  hover:shadow-lg
  hover:border-ud-blue
  hover:-translate-y-1
  duration-150
  min-h-32
  flex
  flex-col
  gap-5;
}

.ic-item-title {
  @apply text-lg 
  font-semibold
  text-gray-800;
}

.ic-item-subtitle {
  @apply text-sm
  text-gray-500
  italic
  mt-2;
}

.ic-icons {
  @apply flex 
  gap-3
  w-full 
  justify-end;
}

.ic-info {
  @apply hover:scale-115 
  duration-150 
  cursor-pointer;
}
